<footer>
    <form class="flex_property_config" action="">
        <label for="subscribe_input" class="white_font" style="margin-right: 10px;">Suscribite a nuestro Newsletter</label>
        <div class="unified" style="justify-self: right;">
            <input class="unified_inputs" id="subscribe_input" name="subscribe_input" type="text" placeholder="Ingrese su email">
            <input class="unified_inputs greend_background white_font" type="submit">
        </div>
    </form>
    <div class="flex_property_config">
        <div class="footer_context_container">
            <a class="white_font links" href="/info#quienes_somos">Quienes somos</a>
            <a class="white_font links" href="/info#privacidad">Políticas de Privacidad</a>
            <a class="white_font links" href="/info#garantias">Garantías</a>
            <a class="white_font links" href="/contact">Contactanos</a>
        </div>
        <div class="footer_context_container">
            <a href="https://www.facebook.com/ramedecoo/" class="links">
                <i class="fab fa-facebook white_font"></i><p class="white_font" >Facebook</p>
            </a>
            <a href="https://www.instagram.com/ramedecco/?hl=es-la" class="links">
                <i class="fab fa-instagram white_font"></i><p class="white_font" >Instagram</p>
            </a>
            <a href="https://twitter.com/?lang=es" class="links">
                <i class="fab fa-twitter white_font"></i><p class="white_font" >Twitter</p>
            </a>
            <a href="https://web.whatsapp.com/" class="links">
                <i class="fab fa-whatsapp white_font"></i><p class="white_font" >Whatsapp</p>
            </a>
        </div>
    </div>
</footer>