<header class="header_layout">
    <div class="logo_nav">
        <div class="logo_container"> 
            <a href="/products"><img class="logo" src="/images/rame_deco_logo.jpeg" alt=""/></a>
        </div>
        <a  href="/users/logout" style="text-decoration: none;color:white;order: 4;">Logout</a>
        <a  href="/userhome" style="text-decoration: none;color:white;order: 3;">Home Usuario</a>
    </div>
</header>