<header class="header_layout">
    <div class="logo_nav">
        <i class="fas fa-bars hamburger_menu"></i>
        <div class="logo_container"> 
            <a href="/"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
        </div>
        <a  href="/shoppingcart"><i class="fas fa-shopping-cart green_font"></i></a>
        <!--a  href="/login"><i class="fas fa-user-circle green_font"></i></a -->
        <a  href="/login">login</a>
        <a  href="/register">register</a>
    </div>
            <nav>
                <ul class="nav_list_options">
                    <li><a class="white_font" href="#">Categorías</a></li>
                    <li><a class="white_font" href="#">Novedades</a></li>
                    <li><a class="white_font" href="#">Inspiración</a></li>
                </ul>
            </nav>
    </header>