<header class="header_layout">
    <div class="logo_nav">
        <i class="fas fa-bars hamburger_menu"></i>
        <div class="logo_container"> 
            <a href="/admin"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
        </div>
        <a  href="/login/logout">logout</a>
    </div>
</header>