<header class="header_layout">
  <div class="logo_nav">
    <div class="logo_container">
      <a class="links" href="/">
        <img class="logo" src="/images/rame_deco_logo.jpeg" alt=""/>
      </a>
    </div>
    <form class="search" action="/search" method="POST">
      <input
        class="unified_inputs"
        id="search_input"
        name="search_input"
        type="text"
        placeholder="Buscar productos y más..."
      />
      <input class="greend_background white_font" type="submit" />
    </form>
    <div class="nav_links">
      <a href="/products/shoppingcart" class="links" style="margin-top: 3px;">
        <i class="fas fa-shopping-cart green_font"></i>
      </a>
      <% if (user ==undefined) { %>
        <a class="links" href="/users/login">Ingresar</a>
        <a class="links" href="/users/register">Registrarse</a>
      <% } %> 
      <% if (user !=undefined) { %>  
        <a href="/users/profile/<%=user.id%>" class="image_container green_font links">
          <img class="logo_user" src="<%= user.avatar?user.avatar:"/defaultuser.png"%>" alt=""/>
        </a>
        <a class="green_font links"  href="/users/logout">Salir</a>
      <% } %> 
    </div>
  </div>

</header>
