.page_background_color{
    background-color:#dce1df ;
    margin:0;
    padding:0;
}

a.link_without_style{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
/*Header styles*/
header.header_layout{
    background-color:#2c303a;
    padding: 5px;
    margin:0;
}
img.logo{
    padding-left: 50px;
    width: 60%;
}

div.nav_list_container{
    display: none;
}


ul.nav_list_options{
    display:flex ;
    flex-direction: row;
    list-style:none;
    justify-content: space-between;
    margin-right: 30px;
}

ul.nav_list_options li a{
    text-decoration:none;
    color:white;
}

i.header_icons{
    color: #0096a0;
    width:23px;
    height: 23px;
    margin:7px;
    padding-top:5px;
}
i.hamburger_menu{  
    width: 20px;
    height: 20px;
    background-color: #0096a0;
    color:white;
    font-size: 10px;
    padding: 5.5px;
    margin:7px;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline;
}

i.hamburger_menu:hover +  div.nav_list_container{
    display: block;
}
i.hamburger_menu:hover{
    background-color: white;
    color:#0096a0;
    cursor:pointer ;
}

/**End Header**/
/**Banner*/
div.banner_container{
    width: 100%;
    margin: 0px;
    padding:  0px;
}
img.banner_container_image{
    width: 100%;

    margin: 0px;
    padding:  0px;
    display: block;
}
form.banner_container_form{
    position: relative;
    height:40px;
    width: 100%;
    box-sizing: border-box;
}

input.banner_container_form_input{
width: 80%;
height: 100%;
font-size: 26px;
display: inline-block;
border: 1px solid grey;
}

button.banner_form_button{
    height:45px;
    width: 60px;
    background-color: #0096a0;
    color: white;
    margin:0;
    border: 1.5px solid white;
    position: relative;
    bottom:4px;

}
/**End Banner Section*/
/**Products section**/
div.product_card_container{
    width: 100%;
    height: 400px;
    border:1px solid white;
    border-radius: 20px;
    padding:7px;
    margin-bottom:7px;
    box-sizing: border-box;
    background-color: #ffffff;
}
div.product_card_container_height{
    height: 100%;
}

img.product_card_img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 20px;
}

.product_card_text{
    margin:0px;
    padding:2px 2px 2px 2px;
    font-size:16px;
    
}

.product_card_text_tittle{
    font-size: 30px;
    color:#0096a0;
}

.product_card_text_price{
    font-size:22px;
}
section.section_products{
    margin:10px;   
}
div.pointer-container{
    background-color:#484848;
    border:1px solid hsl(0, 0%, 28%);
    border-radius: 50%;
    box-sizing: border-box;
    width:30px; 
    height: 30px;
    padding: 1.5% 2%;
    opacity: 0.75;
    position: relative;
    box-sizing: border-box;
}

input.pointer-container-dot{   
    border-radius: 45%;
    width: 20px;
    height: 70%;
    border:none;
    background-color: white;
}


div.card-container-product-description{
    visibility: hidden;
    position: relative;
    box-sizing: border-box;
    width:130px;
    padding: 10px;
    border:2px solid #0096a0;
    border-radius: 20px;
    background-color: white;
}

div.pointer-container:hover + div.card-container-product-description {
    visibility: visible;
    cursor: pointer;
}
/*target positions*/
div.picture1_pointer_1{
    left:40%;
    bottom: 60%;
}
div.picture1_pointer_description_1{
    bottom:90%;
    left:55%;
}

div.picture1_pointer_2{
    bottom:65%;
    left: 70%;
}
div.picture1_pointer_description_2{
    bottom:125%;
    left:57%;
}

div.picture2_pointer_1{
    bottom:25%;
    left:65%;
}

div.picture2_pointer_description_1{
    bottom:95%;
    left:57%;
}

div.picture2_pointer_2{
    bottom:107%;
    left:7%;
}

div.picture2_pointer_description_2{
    bottom:163%;
    left:3%;
}

div.picture2_pointer_3{
    bottom:160%;
    left:45%;
}

div.picture2_pointer_description_3{
    bottom:225%;
    left:30%;
}

div.picture3_pointer_1{
    bottom:50%;
    left:30%;
}

div.picture3_pointer_description_1{
    bottom:80%;
    left:40%;
}


div.picture3_pointer_2{
    bottom:85%;
    left:83%;
}

div.picture3_pointer_description_2{
    bottom:110%;
    left:40%;
}

div.picture3_pointer_3{
    bottom:190%;
    left:83%;
}

div.picture3_pointer_description_3{
    bottom:190%;
    left:60%;
}

div.picture4_pointer_1{
    bottom:60%;
    left:10%;
}

div.picture4_pointer_description_1{
    bottom:80%;
    left:23%;
}

div.picture5_pointer_1{
    bottom:40%;
    left:50%;
}

div.picture5_pointer_description_1{
    bottom:90%;
    left:10%;
}
div.picture6_pointer_1{
    bottom:60%;
    left:60%;
}

div.picture6_pointer_description_1{
    bottom:80%;
    left:20%;
}
div.picture6_pointer_2{
    bottom:95%;
    left:80%;
}

div.picture6_pointer_description_2{
    bottom:120%;
    left:40%;
}
h3.section_tittle{
    margin:10px;
    padding: 10px;
    font-size: 26px;
    color:#0096a0;
}

div.section_product_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/**End Products section**/
/**Menu Section**/
div.menu_option_container{
    background-color: white;
    padding:15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
i.menu_option_icon{
    color: #0096a0;
    display: inline;
}
p.menu_option_name{
    color:rgb(37, 37, 37);
    padding:20px;
    font-size:28px;
    font-weight: bold;
    display: inline;
}

/**Menu Section**/
/**Footer**/
footer{
    background-color:#2c303a;
    padding: 15px;
}

form.subscribe_form{
    padding: 5px;
    width: 100%;
    margin-right:30%;
    margin-bottom: 15px;
}
.subscribe_form_input_text{
    border-radius: 10px;
    border: none;
    display: inline;
    font-size:18px;
    padding:5px;
    margin-top: 5px;
}
.subscribe_form_text{
    font-size: 18px;
    color: #dce1df;
}

input.subscribe_form_submit{
    background: #0096a0;
    border:none;
    padding:5px;
    border-radius: 10px;
    margin: 0;
    display: inline;
    font-style: bold;
}

input.subscribe_form_submit:hover{
    border:1px solid  #ececeb
}

div.links_container{
    display: flex;
    flex-direction: column;
}

.footer_link{
    display: block;
    text-decoration: none; 
    color: #dce1df;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom:5px;
}

.footer_link_icon_and_text{
    display: inline;
}

.footer_context_container{
    margin-left: 20px;
    margin-right: 20px;
}
/**End Footer**/


/* shoppingcart styles */

.container {
	padding: 12px;
}


.section-container-top {
	vertical-align: top;
	display: inline-block;
}


.section-container-image {
    position: relative;
	left: 120px;      

max-width: 90px;
border-radius: 20px;
box-shadow: 2px 2px 5px #999;
}

/* deletes the product */
.shoppincart-delete{
    margin-top: 7px;
    position: relative;
	left: 120px;      
    color:red;}
 

/* title description counter and price */
.section-container-bottom {
	display: inline-block;
    padding-top: 10px;
	box-shadow: 2px 2px 5px #999;
    border-radius: 20px;

}

/* title of product */
.section-container-title {
margin-bottom: 8px;
font-size: 18px;
text-align: center;
}

/* description */
.section-container-subtitle {
	color: #AAA;
    font-size: 15px;
    text-align: center;
}

/* counter of products */
.quantity-display,
.quantity-increment,
.quantity-decrement {
  width: 20px;
  display: block;
  float: left;
}

/* displays the quantity */
.quantity-display {
  background: #fcfcfc;
  font-size: 19px;
  line-height: 50px;
  width: 70px;
  text-align: center;
}

.quantity-increment,
.quantity-decrement {
  background: #fcfcfc;
  border: none;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  padding: 0 20px;
}

.quantity-increment:hover,
.quantity-decrement:hover {
  background: #53b5aa;
  color: #fff;
  cursor: pointer;
}

.quantity-increment {
  line-height: 50px;
}

.quantity-decrement {
  line-height: 47px;
  margin-left: 7px;
}

/* price of the individual product */
.quantity-price {
  background: #53b5aa;
  box-shadow: 2px 2px 5px #999;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 49px;
  margin-left: 7px;
  padding: 0 15px;
  position: relative;
  left: 44px;
}

/* sugested products section */
.Sugested-products-title {
    text-align: center;
	margin:20px 0 15px 0;
	font-weight: 900;
	color: #53b5aa;
  }


.Sugested-products-image {
   justify-content: space-around;
	box-shadow: 2px 2px 5px #999;
	max-width: 130px;
	border-radius: 20px;
	opacity: 0.8;
  }

  #bottom-left-image,#top-left-image{
    position: relative ;
    left: 20px;}
    

  #bottom-right-image,#top-right-image{
    position: relative ;
    left: 40px;}
  
  .Sugested-products-image:hover {
	opacity: 1;
  }

  
.order-summary-subtotal{
    margin-top: 20px;
    margin-bottom: 20px;
 }

.order-summary-total{margin-top: 20px;}

.order-summary-price{
color:#53b5aa ;
    margin-top: 5px;
    border-radius: 15px;
    padding: 3px 6px 3px 6px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;}

/*button used to coninue with the purchase  */
#button-order-summary{
background-color: #53b5aa;
border: none;
border-radius: 40px;
color: #fcfcfc;
text-align: center;
padding:  10px 100px 10px 100px;
box-shadow: 2px 2px 5px #999;
font-weight: bold;
margin:10px 0 10px 0;
}

/* hover effect */
#button-order-summary:hover{
  background-color: #429188;
}


/* End of shoppingcart.html */
    
    .lr-title{
        color:#0096a0;
        font-size: large;
    }
    .lr-main-container{
        background-color: #dce1df;
        border: 1px solid;
        border-radius: 20px;
        margin: 25px;
        padding: 10px;
    }

    .lr-form{
        padding: 10px;
    }
    
    .form_lr-width{
        width: 100%;
    }

    .lr-fontsize{
        font-size: 22px;
        margin-bottom: 10px;
    }

    .register-password-msg{
        margin-bottom: 10px;
        color: red;
        font-size: 14px;
    }

    *{
        font-family: 'Slabo 27px', serif;
    }