<<<<<<< HEAD
=======
.page_background_color{
    background-color:#dce1df ;
}

a.link_without_style{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
/*Header styles*/
header.header_layout{
    background-color:#2c303a;
    padding: 5px;
    margin:0;
}
img.logo{
    padding-left: 50px;
    width: 60%;
}

div.nav_list_container{
    display: none;
}


ul.nav_list_options{
    display:flex ;
    flex-direction: row;
    list-style:none;
    justify-content: space-between;
    margin-right: 30px;
}

ul.nav_list_options li a{
    text-decoration:none;
    color:white;
}

i.header_icons{
    color: #0096a0;
    width:23px;
    height: 23px;
    margin:7px;
    padding-top:5px;
}
i.hamburger_menu{  
    width: 20px;
    height: 20px;
    background-color: #0096a0;
    color:white;
    font-size: 10px;
    padding: 5.5px;
    margin:7px;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline;
}

i.hamburger_menu:hover +  div.nav_list_container{
    display: block;
}
i.hamburger_menu:hover{
    background-color: white;
    color:#0096a0;
    cursor:pointer ;
}

/**End Header**/
/**Banner*/
div.banner_container{
    width: 100%;
    margin: 0px;
    padding:  0px;
}
img.banner_container_image{
    width: 100%;

    margin: 0px;
    padding:  0px;
    display: block;
}
form.banner_container_form{
    position: relative;
    height:40px;
    width: 100%;
    box-sizing: border-box;
}

input.banner_container_form_input{
width: 80%;
height: 100%;
font-size: 26px;
display: inline-block;
border: 1px solid grey;
}

button.banner_form_button{
    height:45px;
    width: 60px;
    background-color: #0096a0;
    color: white;
    margin:0;
    border: 1.5px solid white;
    position: relative;
    bottom:4px;

}
/**End Banner Section*/
/**Products section**/
div.product_card_container{
    width: 100%;
    height: 400px;
    border:1px solid white;
    border-radius: 20px;
    padding:7px;
    margin-bottom:7px;
    box-sizing: border-box;
    background-color: #ffffff;
}
div.product_card_container_height{
    height: 100%;
}

img.product_card_img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 20px;
}

.product_card_text{
    margin:0px;
    padding:2px 2px 2px 2px;
    font-size:16px;
    
}

.product_card_text_tittle{
    font-size: 30px;
    color:#0096a0;
}

.product_card_text_price{
    font-size:22px;
}
section.section_products{
    margin:10px;   
}
div.pointer-container{
    background-color:#484848;
    border:1px solid hsl(0, 0%, 28%);
    border-radius: 50%;
    box-sizing: border-box;
    width:30px; 
    height: 30px;
    padding: 1.5% 2%;
    opacity: 0.75;
    position: relative;
    box-sizing: border-box;
}

input.pointer-container-dot{   
    border-radius: 45%;
    width: 20px;
    height: 70%;
    border:none;
    background-color: white;
}


div.card-container-product-description{
    visibility: hidden;
    position: relative;
    box-sizing: border-box;
    width:130px;
    padding: 10px;
    border:2px solid #0096a0;
    border-radius: 20px;
    background-color: white;
}

div.pointer-container:hover + div.card-container-product-description {
    visibility: visible;
    cursor: pointer;
}
/*target positions*/
div.picture1_pointer_1{
    left:40%;
    bottom: 55%;
}
div.picture1_pointer_description_1{
    bottom:90%;
    left:27%;
}

div.picture1_pointer_2{
    bottom:50%;
    left: 70%;
}
div.picture1_pointer_description_2{
    bottom:90%;
    left:57%;
}

div.picture2_pointer_1{
    bottom:25%;
    left:65%;
}

div.picture2_pointer_description_1{
    bottom:75%;
    left:60%;
}

div.picture2_pointer_2{
    bottom:90%;
    left:10%;
}

div.picture2_pointer_description_2{
    bottom:125%;
    left:3%;
}

div.picture2_pointer_3{
    bottom:120%;
    left:45%;
}

div.picture2_pointer_description_3{
    bottom:170%;
    left:30%;
}

div.picture3_pointer_1{
    bottom:50%;
    left:30%;
}

div.picture3_pointer_description_1{
    bottom:90%;
    left:23%;
}


div.picture3_pointer_2{
    bottom:80%;
    left:83%;
}

div.picture3_pointer_description_2{
    bottom:110%;
    left:60%;
}

div.picture3_pointer_3{
    bottom:155%;
    left:83%;
}

div.picture3_pointer_description_3{
    bottom:150%;
    left:60%;
}

div.picture4_pointer_1{
    bottom:60%;
    left:10%;
}

div.picture4_pointer_description_1{
    bottom:80%;
    left:23%;
}

div.picture5_pointer_1{
    bottom:40%;
    left:50%;
}

div.picture5_pointer_description_1{
    bottom:90%;
    left:40%;
}
div.picture6_pointer_1{
    bottom:60%;
    left:60%;
}

div.picture6_pointer_description_1{
    bottom:80%;
    left:20%;
}
div.picture6_pointer_2{
    bottom:75%;
    left:80%;
}

div.picture6_pointer_description_2{
    bottom:90%;
    left:40%;
}
h3.section_tittle{
    margin:10px;
    padding: 10px;
    font-size: 26px;
    color:#0096a0;
}

div.section_product_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/**End Products section**/
/**Menu Section**/
div.menu_option_container{
    background-color: white;
    padding:15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
i.menu_option_icon{
    color: #0096a0;
    display: inline;
}
p.menu_option_name{
    color:rgb(37, 37, 37);
    padding:20px;
    font-size:28px;
    font-weight: bold;
    display: inline;
}

/**Menu Section**/
/**Footer**/
footer{
    background-color:#2c303a;
    padding: 15px;
}

form.subscribe_form{
    padding: 5px;
    width: 100%;
    margin-right:30%;
    margin-bottom: 15px;
}
.subscribe_form_input_text{
    border-radius: 10px;
    border: none;
    display: inline;
    font-size:18px;
    padding:5px;
    margin-top: 5px;
}
.subscribe_form_text{
    font-size: 18px;
    color: #dce1df;
}

input.subscribe_form_submit{
    background: #0096a0;
    border:none;
    padding:5px;
    border-radius: 10px;
    margin: 0;
    display: inline;
    font-style: bold;
}

input.subscribe_form_submit:hover{
    border:1px solid  #ececeb
}

div.links_container{
    display: flex;
    flex-direction: column;
}

.footer_link{
    display: block;
    text-decoration: none; 
    color: #dce1df;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom:5px;
}

.footer_link_icon_and_text{
    display: inline;
}

.footer_context_container{
    margin-left: 20px;
    margin-right: 20px;
}
/**End Footer**/

* {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
}

>>>>>>> 7ed8b294d3cbc3310c094bb1304e8d4b43c9ced9
body{  box-sizing: border-box;
}

.product{margin: 4% 0 0 5%;}

.page-header-container {
	font-size: 21px;
	opacity: 0.75;
}

.container{
	margin-left: 10%;
}

.container-left {
	vertical-align: top;
	display: inline-block;
	margin-right: 12px;
}

.container-image {
	max-width: 150px;
	box-shadow: 2px 2px 5px #999;
border-radius: 20px;
transition: transform .2s; 
}

.container-image:hover{
	transform: scale(1.3); 
}

.shoppincart-delete{
position: relative;
left: 50px;
top: 10px;
opacity: 0.5;
color: red;
}

.shoppincart-delete:hover{
	opacity: 1;
	cursor: pointer;

}


.container-right{ 
	display: inline-block;
	padding-right: 40px;

}

.container-right-top{
	width: 800px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	padding:0 7px 8px 40px;
	box-shadow: 3px 3px 5px #999;
margin-bottom: 5%;
}


.container-title {
	max-width: 200px;
    color: #53b5aa;
	font-size: 18px;

}

.container-right-top-subtitle {
	
	color: #AAA;
	padding-right: 80px;
	font-size: 20px;
	margin-bottom:6% 0 0 4% 0;
}


	.quantity-display,.quantity-increment, .quantity-decrement {
		display: block;
		float: left;
	}
	
	.quantity-display {
		background: #fcfcfc;
		font-size: 19px;
		line-height: 50px;
		width: 70px;
		text-align: center;
	}
	
	.quantity-increment, .quantity-decrement {
		background: #fcfcfc;
		border: none;
		font-size: 30px;
		font-weight: 300;
		height: 100%;
		padding: 0 20px;
	}
	
	.quantity-increment:hover, .quantity-decrement:hover {
		background: #53b5aa;
		color: #fff;
		cursor: pointer;
	}
	
	.quantity-increment {
		line-height: 50px;
		margin-right: 40%;
	}
	
	.quantity-decrement {
		line-height: 47px;
	}


	.quantity-price {
		float: right;
		background: #53b5aa;
		box-shadow: 2px 2px 5px #999;
		color: #fff;
		float: right;
		font-size: 22px;
		font-weight: 300;
		line-height: 49px;
		margin: 0;
		padding: 0 30px;
	
	}


	.Sugested-products-title{	
		font-weight: 900;
		position: relative;
		top: 40px;
		left: 90px;
		max-width: 200px;
		color: #53b5aa;
		font-size: 18px;
		}
		
			.Sugested-products-image{
				position: relative;
				top: 44px;
				left: 100px;
				max-width: 220px;
				border-radius: 20px;
				margin: 10px;
				opacity: 0.8;
			box-shadow: 2px 2px 5px #999;
			}
		
			.Sugested-products-image:hover{
				opacity: 1;
			}

			
	.container-order-summary {
		margin: 7% 0 0 0;
		padding: 40px;
	}
	
	.order-summary-total {
		background: #fcfcfc;
		box-shadow: 2px 2px 5px #999;
		border: 1px solid #ccc;
		border-style: none none solid none;
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 7px 0;
		padding: 14px 40px;
		text-align: center;
	}
	
	.order-summary-subtotal{
		font-size: 24px;
		font-weight: 300;
		margin: 10px 0 0 0;
	}
	
	.order-summary-shipping {
		font-size: 19px;
		font-weight: 300;
		margin: 15px 0;
	}
	
	.order-summary-left{
		float: left;
	}
	
	.order-summary-right{
		float: right;
	}
	
	.order-summary-btn{
	background: #53b5aa;
	border-radius: 20px;
	border-style: none none solid none;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 16px 0;
	width: 290px;
	text-align: center;
		
	}

	.order-summary-btn:hover {
		color: #fff;
		background: #429188;
	}

	.btn {
		background: #53b5aa;
        border-radius: 20px;
		border-style: none none solid none;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		padding: 16px 0;
		width: 290px;
		text-align: center;
	}
	
	.btn:hover {
		color: #fff;
		background: #429188;
	}
<<<<<<< HEAD
=======

@media (max-width: 360px) {
*{font-size: 18px;
}

.product{
	position: relative;
	top: 10px;
	left: 3px;
	right: 3px;
}

.container-left {
	margin: 10px 0 20px 0;
}



.container-image {
position: relative;
top: 10px;
left: 50px;}

.shoppincart-delete{
	
	left: 100px;
	}

.container-right-top{
	position: relative;
	top: 5px;
max-width: 220px;
margin: 6px 0 10x 0;
}

.quantity-display,.quantity-increment, .quantity-decrement,	.quantity-price  {
	width: 20px;
	display: block;
	float: left;
}
.quantity-increment{margin-right: 1px;}

.quantity-decrement{margin-left: 7px;}

.quantity-price{
	margin-left: 4px;
	position: relative;
	left: 35px;
	width: 60px;}

.summary-shipping{display: block;}

.Sugested-products-title{	
	left: 100px;
max-width:100px ;}

.Sugested-products-image{
margin: 3px;
max-width: 130px;
left: 7px;}


.container-order-summary{padding: 10px  3px 10px 3px;}

.order-summary-left{float: none;}

.order-summary-right{
	float: none;
	display: block;
}

.order-summary-total{
	max-width: 198px;
	margin: 0;
	height: 30px;
	}

.btn-container{
	max-width: 198px;
	margin-top: 10px;
	display: block;
	}

}
>>>>>>> 7ed8b294d3cbc3310c094bb1304e8d4b43c9ced9
