
.elContenedor{
    padding: 5px;
    position: relative;
    margin-bottom: 50px;
}

.imagen {
    width: 100%;
   vertical-align: top;
   display: inline-block;
}

.primerTexto {
    background-color: yellow;
    border-radius: 3px;
    width: 35%;
    height: auto;
   position: absolute;
   top: 57%;
    left: 3%;
    margin: 0 auto;
    padding: 10px;
   
}

.segundoTexto {
    background-color: yellow;
    border-radius: 3px;
    width: 35%;
    height: auto;
    position: absolute;
    top: 57%;
    right: 3%;
    margin: 0 auto;
    padding: 10px;
}

.otroContenedor {
	padding: 12px;
}

.contenedor-descrip {
	border-bottom: 1px solid black;
}

.caja{
font-size: 18px; 
font-weight: 400; 
color: #ffffff; 
background:#ee0467;
max-width: 300px;
padding: 5px;

}

.contenedor-descrip-izq {
	vertical-align: top;
	display: inline-block;
    margin-right: 5%;
    margin-left: auto;
    
}

.contenedor-descrip-der {
	display: inline-block;
}


.precio {
	font-size: 18px;
}


.boton-agregar-carrito {
	margin-top: 24px;
	margin-bottom: 18px;
	border-radius: 3px;
	border: 1px solid lime;
	background-color: lime;
	padding: 6px 12px;
}