<!DOCTYPE html>
<html>
  <head>
    <title>Categorias</title>
  <link rel="stylesheet" href="..//CSS/style.css">
	<link rel = "icon" href="../../images/white-logo.jpeg" type = "image/x-icon"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  </head>
  <body>
  


    <!-- navbar -->
    <%- include('parcials/header.ejs',{'user':user}) %> 
    <!-- /navbar -->
   
<!-- Main image -->
<a class='categoriesHref' href="/products/categories/7">
<div class="contactImage">
   <h4 class="text-center p-5">Oficina</h4>
</div>
<!-- /Main image -->
</a>

<div class="d-flex justify-content-around flex-wrap mt-5 mb-4">

<!-- Map -->
<div class="card p-3 mt-3">    
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.9676389545175!2d-60.69569498530877!3d-31.634736414011808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9fce88cd867%3A0xa66cea0721a7b0cc!2sRam%C3%A9%20home%20%26%20deco!5e0!3m2!1sen!2sar!4v1618411907700!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- /Map -->

<!-- contact inputs -->
<div class="wrapper centered mt-3">
  <article class="letter">
    <div class="d-flex justify-content-start">
      <h1>Contactanos</h1>
      
    </div>
    <div class="side">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Escribe tu nombre completo" >
      </p>
      <p>
        <input type="email" class="form-control" placeholder="Escribe tu email" >
      </p>
<div>
    <textarea  class="form-control" rows="8" cols="8" placeholder="Escríbenos un mensaje! "></textarea>
    </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary mt-2" id="sendLetter">Enviar</button>
      </div>
    </div>
  </article>
  <div class="envelope front"></div>
  <div class="envelope back"></div>
</div>

<!-- /contact inputs -->

</div>

<%- include('parcials/footer.ejs') %>
    </body>
    </html>