<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  <link rel="icon" href="../images/white-logo.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <title>Ramé Deco</title>
</head>

<body>
  <main>

    <!-- navbar -->
    <%- include('parcials/headeradmin.ejs',{'user':user}) %>

    <!-- title -->
    <div>
      <h1>Crear producto</h1>
    </div>

    <form class="container-main" action="/products" method="POST" enctype="multipart/form-data">
      
      <!--product name and description  -->
      <div class="product-name-description">

        <!--name  -->
        <label class="labelName" for="tittle">Nombre del producto</label>
        <input class="inputName" type="text" name="tittle" placeholder="Escribe el titulo de tu producto">

        <!--description  -->
        <label class=" labelDescription" for="description">Describe tu producto</label>
        <textarea class="coments" style="resize: none;" name="description" rows="10"
          placeholder="Escribe una descripcion de tu producto" cols="40"></textarea>


      </div>



      <!-- inputs -->
      <div class="containerDetalle">

        <!-- first column of inputs -->
        <div>

          <!--description  -->
          <label class=" labelDescription" for="summary">Resumen</label>
          <textarea class="coments" style="resize: none;" name="summary" rows="5"
            placeholder="Escribe un resumen de tu producto" cols="40"></textarea>


          <label>Categoría</label>

          <select name="category">
            <% for(var i= 0; i< categories.length; i++) { %>
            <option name="category"><%=categories[i].name%></option>
            <% } %>
          </select>
          <label class="upload-images">Sube imagenes del producto 
            <input type="file" size="60"
                    name='images' accept=".pdf,.jpg,.png"></label>
          <label class="labelPrecio" for="price">Precio</label>
          <input class="inputPrecio" type="number" name="price" style="background-color: #dce1df" required>

          <!-- upload images of products -->

        </div>

        <!-- second column of inputs -->
        <div>

          <!--description  -->
          <label class=" labelDescription" for="product_detail">Detalles del producto</label>
          <textarea class="coments" style="resize: none;" name="product_detail" rows="5"
            placeholder="Escribe los detalles de tu producto" cols="40" required></textarea>


          <label class="labelPrecio" for="dimension">Dimension</label>
          <input class="inputPrecio" type="number" name="dimension" style="background-color: #dce1df" required>

          <label class="labelPrecio" for="stock">Cantidad</label>
          <input class="inputPrecio" type="number" name="stock" style="background-color: #dce1df" required>



          <div class="container-of-button">
            <input type="submit" class="input-of-create" value="crear">
          </div>
        </div>

      </div>

    </form>


  </main>



</body>

</html>