<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rame deco</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel = "icon" href="../images/white-logo.jpeg" type = "image/x-icon"> 
<link rel="stylesheet" href="../../CSS/style.css">

</head>


<body>
    <!-- navbar -->
    <%- include('parcials/header.ejs') %> 

  <div class="container p-4">

  <!-- title -->
  <div><h1>Editar producto</h1></div>

    <form method="POST" target="/create" class="card card-body" action="/products/:id?_method=PUT" enctype="multipart/form-data"> 

        <div class="form-group">
            <label>Editando el producto <%=params%>  </label><br>
            
            </div>

      <div class="form-group">
        <label for="tittle">Nombre del producto</label>
        <input name="tittle" type="text" class="form-control" placeholder=" "autofocus required>
      </div>

      <div class="form-group">
        <label for="summary">Resumen de tu producto</label>
        <input name="summary" type="text" class="form-control" placeholder="Escribe una descripcion de tu producto" autofocus required>
      </div>
      
     

      <div class="form-group">
        <label for="description">Describe el producto</label>
        <textarea class="form-control" name="description" rows="2" required>
        </textarea>
      </div>



      <div class="form-group">
        <label for="product_detail">detalles del producto</label>
        <textarea class="form-control" name="product_detail" rows="2" required>
        </textarea>
      </div>



      <div class="form-group">
      <label>Categoría</label>
      <select name="category">
        <% for(var i= 0; i< productsss.length; i++) { %>
            <option name="category" ><%=productsss[i].category%></option>
      <% } %>
     </select>
      </div>



      <div class="form-group">
        <input type="submit" value="editar  producto" class="btn btn-primary">
      </div>
    </form>

  </div>

  <%- include('parcials/footer')%>
</body>

</html>