<!DOCTYPE html>
<html>
  <head>
    <title>Rame deco</title>
  <link rel="stylesheet" href="../CSS/style.css">
	<link rel = "icon" href="../images/white-logo.jpeg" type = "image/x-icon"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  </head>
  <body>
    <!-- navbar -->
    <%- include('parcials/header.ejs',{'user':user}) %> 
 
    <div class="main-body">
        <div class="card">
            <div class="card-body mt-6 mb-6">
     

<h4>Tu carrito esta vacio, prueba de agregar productos!!</h4>
<a href="/">
<button type="button" class="btn btn-primary btn-sm">continuar con la compra</button>
</a>

    </div>    
        </div></div>






                    
        
<!-- partial of the footer-->
    <%- include('parcials/footer.ejs') %>
    </body>
    </html>