<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramé Deco</title>
</head>
<body>
    <header>
        <div><img src="" alt=""></div>
    <div>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <i></i>
            <i></i>
        </nav>
        <i></i>
    </div>
    </header>
    <section>
        <a href=""><img src="" alt=""></a>
        <form action="">
            <input type="search" name="" id="">
        </form>
    </section>
    <main>
        <section>
            <p>Ambientes Decorados</p>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
        </section>
        <section>
            <p>Productos</p>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <div>
                <img src="" alt="">
                <div><div></div></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>precio</p>
                    <p>precio</p>
                </div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
        </section>
        <section>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>
            <div>
                <i></i>
                <p></p>
            </div>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>