<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Ramé Deco</title>
</head>

<body class="page_background_color">
    <header class="header_layout">
    <div class="logo_nav">
        <i class="fas fa-bars hamburger_menu"></i>
        <div class="logo_container"> 
            <a href="#"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
        </div>
        <a  href="/shoppingcart"><i class="fas fa-shopping-cart green_font"></i></a>
        <a  href="/login"><i class="fas fa-user-circle green_font"></i></a>
    </div>
            <nav>
                <ul class="nav_list_options">
                    <li><a class="white_font" href="#">Categorias</a></li>
                    <li><a class="white_font" href="#">Novedades</a></li>
                    <li><a class="white_font" href="#">Inspiracion</a></li>
                </ul>
            </nav>
    </header>
    <section style="position: relative;">
        <a href="#"><img class="banner_container_image" src="images/home/Banner_green_friday.png" alt=""></a>
        <form class="overlap" action="">
            <input class="unified_inputs" id="subscribe_input" name="subscribe_input" type="text" placeholder="Buscar productos y más...">
                <input class="unified_inputs greend_background white_font" type="submit">
        </form>
    </section>
    <main  class="page_background_color">
        <section class="section_products">
            <h3 class="section_tittle">Ambientes Decorados</h3>
            <div class="flex_property_config">
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/dormitorio.webp" alt="">
                <div class="pointer-container picture1_pointer_1">
                </div>
                <div class="card-container-product-description picture1_pointer_description_1">
                    <a href="#"><h3 class="product_card_text_mark product_card_text green_font">Dosel</h3></a>
                    <p class="product_card_text">Dosel, motivo conejo</p>
                    <p class="product_card_text_mark product_card_text green_font">$700</p>
                </div>
            <!-- Pointer2 -->
                <div class="pointer-container picture1_pointer_2">
                </div>
                <div class="card-container-product-description picture1_pointer_description_2">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Cuna</h3></a>
                    <p class="product_card_text">Cuna, blanco60x120 cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$5.400</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/bedroom_pointer.webp" alt="">
                <div class="pointer-container picture2_pointer_1"></div>
                <div class="card-container-product-description picture2_pointer_description_1">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Estructura de Cama</h3></a>
                    <p class="product_card_text">Estructura de Cama con 4 cajones 160x200cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$10.000</p>
                </div>
                <div class="pointer-container picture2_pointer_2"></div>
                <div class="card-container-product-description picture2_pointer_description_2">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Manta</h3></a>
                    <p class="product_card_text">Manta 130X170cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$1.000</p>
                </div>
                <div class="pointer-container picture2_pointer_3"></div>
                <div class="card-container-product-description picture2_pointer_description_3">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Funda para Colchon Nordica</h3></a>
                    <p class="product_card_text">Funda Nórdica 240x220cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$2.000</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/bedroom_pointer2.webp" alt="">
                <div class="pointer-container picture3_pointer_1"></div>
                <div class="card-container-product-description picture3_pointer_description_1">
                    <a href="#"><h3 class="product_card_text_mark product_card_text green_font">Armario</h3></a>
                    <p class="product_card_text">Armario 120x61x191 cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$12.000</p>
                </div>
                <div class="pointer-container picture3_pointer_2"></div>
                <div class="card-container-product-description picture3_pointer_description_2">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Silla</h3></a>
                    <p class="product_card_text">Silla</p>
                    <p class="product_card_text_mark product_card_text green_font">$2.000</p>
                </div>
                <div class="pointer-container picture3_pointer_3"></div>
                <div class="card-container-product-description picture3_pointer_description_3">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Lampara</h3></a>
                    <p class="product_card_text">Lampara de techo, 38cm</p>
                    <p class="product_card_text_mark product_card_text green_font">$2.600</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/exterior_pointer.webp" alt="">
                <div class="pointer-container picture4_pointer_1"></div>
                <div class="card-container-product-description picture4_pointer_description_1">
                    <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Parrilla para Exteriores</h3></a>
                    <p class="product_card_text">Barbacoa de Carbón</p>
                    <p class="product_card_text_mark product_card_text green_font">$7.000</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/livingroom_pointer.webp" alt="">
                <div class="pointer-container picture5_pointer_1"></div>
                <div class="card-container-product-description picture5_pointer_description_1">
                        <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Estanteria con cajonera</h3></a>
                        <p class="product_card_text">Estantería armario/cajn, pino/rojo 134x30x179 cm</p>
                        <p class="product_card_text_mark product_card_text green_font">$13.000</p>
                </div>
            </div>
            <div  class="product_card_container">
                    <img class="product_card_img" src="images/home/livingroom_pointer2.webp" alt="">
                    <div class="pointer-container picture6_pointer_1"></div>
                    <div class="card-container-product-description picture6_pointer_description_1">
                        <a  href="#"><h3 class="product_card_text_mark product_card_text green_font">Estanteria</h3></a>
                        <p class="product_card_text">Estantería, negro 100x136 cm</p>
                        <p class="product_card_text_mark product_card_text green_font">$5.000</p>
                    </div>
            <div class="pointer-container picture6_pointer_2"></div>
                <div class="card-container-product-description picture6_pointer_description_2">
                        <a   href="#"><h3 class="product_card_text_mark product_card_text green_font">Mesa Ratona</h3></a>
                        <p class="product_card_text">Mesa de centro, chapa fresno 118x50 cm</p>
                        <p class="product_card_text_mark product_card_text green_font">$5.000</p>
                </div>
            </div>
        </div>            
        </section>
        <section class="section_products">
            <h3 class="section_tittle">Productos</h3>
            <div class="flex_property_config">
            <div class="product_card_container product_card_container_height">
                <img class="product_card_img " src="images/home/productos/colcha.webp" alt="">
                <div>
                    <a href="#"><h3 class="product_card_text product_card_text_mark green_font">Manta estación Verano</h3></a>
                    <p class="product_card_text">Manta, azul claro 130x170 cm</p>
                    <p class="product_card_text product_card_text_mark">$1.000</p>
                </div>
            </div>
            <div class="product_card_container product_card_container_height"> 
                <img class="product_card_img "  src="images/home/productos/colchon.webp" alt="">
                <div>
                    <a   href="#"><h3 class="product_card_text product_card_text_mark green_font">Sommier Matriz</h3></a>
                    <p class="product_card_text">Colchón Sommier</p>
                    <p class="product_card_text product_card_text_mark">$7.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/mueble_tv.webp" alt="">
                <div>
                    <a   href="#"><h3 class="product_card_text product_card_text_mark green_font">Mesa TV, estilo moderno</h3></a>
                    <p class="product_card_text">Mueble TV, blanco</p>
                    <p class="product_card_text product_card_text_mark">$4.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/silla.webp" alt="">
                <div>
                    <a   href="#"><h3 class="product_card_text product_card_text_mark green_font">Silla Modelo Granero</h3></a>
                    <p class="product_card_text">Silla, tinte envejecido claro/blanco</p>
                    <p class="product_card_text product_card_text_mark">$3.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/silla_mesa.webp" alt="">
                <div>
                    <a   href="#"><h3 class="product_card_text product_card_text_mark green_font">Juego Mesa con Sillas</h3></a>
                    <p class="product_card_text">Mesa con 4 sillas, blanco/blanco 110/155 cm</p>
                    <p class="product_card_text product_card_text_mark">$7.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img " src="images/home/productos/sillon_l.webp" alt="">
                <div>
                    <a   href="#"><h3 class="product_card_text product_card_text_mark green_font">Sofa Cama formato L</h3></a>
                    <p class="product_card_text">Sofá Came 3 plazas con almacenamiento</p>
                    <p class="product_card_text product_card_text_mark">$10.000</p>
                </div>
            </div>
        </div>
        </section>
        <section class="menu_container">
            <div class="menu_option_container">
                <i class="fas fa-coffee green_font "></i>
                <p  class="menu_option_name">Accesorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-bed green_font"></i>
                <p class="menu_option_name" style>Dormitorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-umbrella-beach green_font"></i>
                <p class="menu_option_name">Exteriores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-couch green_font"></i>
                <p class="menu_option_name">Interiores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-bath green_font"></i>
                <p class="menu_option_name">Baño</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-chair green_font "></i>
                <p class="menu_option_name">Living</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-desktop green_font"></i>
                <p class="menu_option_name">Oficina</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-tags green_font"></i>
                <p class="menu_option_name">Ofertas</p>
            </div>
        </section>
    </main>
    <footer>
        <form class="flex_property_config" action="">
            <label for="subscribe_input" class="white_font" style="margin-right: 10px;">Suscribite a nuestro Newsletter</label>
            <div class="unified">
                <input class="unified_inputs" id="subscribe_input" name="subscribe_input" type="text" placeholder="Ingrese su email">
                <input class="unified_inputs greend_background white_font" type="submit">
            </div>
        </form>
        <div class="flex_property_config">
            <div class="footer_context_container">
                <a class="white_font" href="">Quienes somos</a>
                <a class="white_font" href="">Politicas de Devolucion</a>
                <a class="white_font" href="">Garantias</a>
                <a class="white_font" href="">Preguntas Frecuentes</a>
            </div>
            <div class="footer_context_container">
                <a href="">
                    <i class="fab fa-facebook white_font"></i><p class="white_font" >Facebook</p>
                </a>
                <a href="">
                    <i class="fab fa-instagram white_font"></i><p class="white_font" >Instagram</p>
                </a>
                <a href="">
                    <i class="fab fa-twitter white_font"></i><p class="white_font" >Twitter</p>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp white_font"></i><p class="white_font" >Whatsapp</p>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>