<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Ramé Deco</title>
</head>

<body class="page_background_color">
    <%- include('parcials/header.ejs') %> 
    <section style="position: relative;">
        <a href="#"><img class="banner_container_image" src="images/home/Banner_green_friday.png" alt=""></a>
    </section>
    <main  class="page_background_color">
        <section class="section_products">
            <h3 class="section_tittle">Ambientes Decorados</h3>
            <div class="flex_property_config">
                <% for (const scene of scenes) {%> 
                    <%- include('parcials/scene.ejs',{'scene':scene}) %>      
                <%} %> 
        </div>            
        </section>
        <section class="section_products">
            <h3 class="section_tittle">Productos</h3>
            <div class="flex_property_config">
            <% for (const product of products) {%> 
                <%- include('parcials/product.ejs',{'product':product}) %>      
            <%} %> 
        </div>
        </section>
        <section class="menu_container">
            <div class="menu_option_container">
                <i class="fas fa-coffee green_font "></i>
                <p  class="menu_option_name">Accesorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-bed green_font"></i>
                <p class="menu_option_name" style>Dormitorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-umbrella-beach green_font"></i>
                <p class="menu_option_name">Exteriores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-couch green_font"></i>
                <p class="menu_option_name">Interiores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-bath green_font"></i>
                <p class="menu_option_name">Baño</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-chair green_font "></i>
                <p class="menu_option_name">Living</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-desktop green_font"></i>
                <p class="menu_option_name">Oficina</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-tags green_font"></i>
                <p class="menu_option_name">Ofertas</p>
            </div>
        </section>
    </main>
    <%- include('parcials/footer.ejs') %>
</body>
</html>