<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Ramé Deco</title>
</head>

<body class="page_background_color">
    <header class="header_layout">
    <div class="logo_nav">
        <i class="fas fa-bars hamburger_menu"></i>
        <div class="logo_container"> 
            <a href="#"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
        </div>
        <a class="link_without_style" href="/shoppingcart"><i class="fas fa-shopping-cart  header_icons"></i></a>
        <a class="link_without_style"  href="/login"><i class="fas fa-user-circle  header_icons"></i></a>
    </div>
    <div class="nav_list_container">
            <nav>
                <ul class="nav_list_options">
                    <li><a  class="link_without_style" href="#">Categorias</a></li>
                    <li><a  class="link_without_style" href="#">Novedades</a></li>
                    <li><a  class="link_without_style" href="#">Inspiracion</a></li>
                </ul>
            </nav>
    </div>
    </header>
    <section class="banner_container">
        <a  class="link_without_style" href="#"><img class="banner_container_image" src="images/home/Banner_green_friday.png" alt=""></a>
        <form class="banner_container_form" action="">
            <input class="banner_container_form_input" type="text" name="" id="">
            <button class="banner_form_button" type="submit">Buscar</button>
        </form>
    </section>
    <main  class="page_background_color">
        <section class="section_products">
            <h3 class="section_tittle">Ambientes Decorados</h3>
            <div class="section_product_container">
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/dormitorio.webp" alt="">
                <div class="pointer-container picture1_pointer_1">
                </div>
                <div class="card-container-product-description picture1_pointer_description_1">
                    <a class="link_without_style" href="#"><h3>Dosel</h3></a>
                    <p>Dosel, motivo conejo</p>
                    <p>$700</p>
                </div>
            <!-- Pointer2 -->
                <div class="pointer-container picture1_pointer_2">
                </div>
                <div class="card-container-product-description picture1_pointer_description_2">
                    <a  class="link_without_style" href="#"><h3>Cuna</h3></a>
                    <p>Cuna, blanco60x120 cm</p>
                    <p>$5.400</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/bedroom_pointer.webp" alt="">
                <div class="pointer-container picture2_pointer_1"></div>
                <div class="card-container-product-description picture2_pointer_description_1">
                    <a  class="link_without_style" href="#"><h3>Estructura de Cama</h3></a>
                    <p>Estructura de Cama con 4 cajones 160x200cm</p>
                    <p>$10.000</p>
                </div>
                <div class="pointer-container picture2_pointer_2"></div>
                <div class="card-container-product-description picture2_pointer_description_2">
                    <a class="link_without_style"  href="#"><h3>Manta</h3></a>
                    <p>Manta 130X170cm</p>
                    <p>$1.000</p>
                </div>
                <div class="pointer-container picture2_pointer_3"></div>
                <div class="card-container-product-description picture2_pointer_description_3">
                    <a class="link_without_style"  href="#"><h3>Funda para Colchon Nordica</h3></a>
                    <p>Funda Nórdica 240x220cm</p>
                    <p>$2.000</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/bedroom_pointer2.webp" alt="">
                <div class="pointer-container picture3_pointer_1"></div>
                <div class="card-container-product-description picture3_pointer_description_1">
                    <a class="link_without_style"  href="#"><h3>Armario</h3></a>
                    <p>Armario 120x61x191 cm</p>
                    <p>$12.000</p>
                </div>
                <div class="pointer-container picture3_pointer_2"></div>
                <div class="card-container-product-description picture3_pointer_description_2">
                    <a class="link_without_style"  href="#"><h3>Silla</h3></a>
                    <p>Silla</p>
                    <p>$2.000</p>
                </div>
                <div class="pointer-container picture3_pointer_3"></div>
                <div class="card-container-product-description picture3_pointer_description_3">
                    <a class="link_without_style"  href="#"><h3>Lampara</h3></a>
                    <p>Lampara de techo, 38cm</p>
                    <p>$2.600</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/exterior_pointer.webp" alt="">
                <div class="pointer-container picture4_pointer_1"></div>
                <div class="card-container-product-description picture4_pointer_description_1">
                    <a class="link_without_style"  href="#"><h3>Parrilla para Exteriores</h3></a>
                    <p>Barbacoa de Carbón</p>
                    <p>$7.000</p>
                </div>
            </div>
            <div class="product_card_container">
                <img class="product_card_img" src="images/home/livingroom_pointer.webp" alt="">
                <div class="pointer-container picture5_pointer_1"></div>
                <div class="card-container-product-description picture5_pointer_description_1">
                        <a  class="link_without_style" href="#"><h3>Estanteria con cajonera</h3></a>
                        <p>Estantería armario/cajn, pino/rojo 134x30x179 cm</p>
                        <p>$13.000</p>
                </div>
            </div>
            <div  class="product_card_container">
                    <img class="product_card_img" src="images/home/livingroom_pointer2.webp" alt="">
                    <div class="pointer-container picture6_pointer_1"></div>
                    <div class="card-container-product-description picture6_pointer_description_1">
                        <a  class="link_without_style" href="#"><h3>Estanteria</h3></a>
                        <p>Estantería, negro 100x136 cm</p>
                        <p>$5.000</p>
                    </div>
            <div class="pointer-container picture6_pointer_2"></div>
                <div class="card-container-product-description picture6_pointer_description_2">
                        <a class="link_without_style"  href="#"><h3>Mesa Ratona</h3></a>
                        <p>Mesa de centro, chapa fresno 118x50 cm</p>
                        <p>$5.000</p>
                </div>
            </div>
        </div>            
        </section>
        <section class="section_products">
            <h3 class="section_tittle">Productos</h3>
            <div class="section_product_container">
            <div class="product_card_container product_card_container_height">
                <img class="product_card_img " src="images/home/productos/colcha.webp" alt="">
                <div>
                    <a  class="link_without_style" href="#"><h3 class="product_card_text product_card_text_tittle">Manta estación Verano</h3></a>
                    <p class="product_card_text">Manta, azul claro 130x170 cm</p>
                    <p class="product_card_text product_card_text_price">$1.000</p>
                </div>
            </div>
            <div class="product_card_container product_card_container_height"> 
                <img class="product_card_img "  src="images/home/productos/colchon.webp" alt="">
                <div>
                    <a class="link_without_style"  href="#"><h3 class="product_card_text product_card_text_tittle">Sommier Matriz</h3></a>
                    <p class="product_card_text">Colchón de muelles embolsados, extra firme/gris oscuro</p>
                    <p class="product_card_text product_card_text_price">$7.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/mueble_tv.webp" alt="">
                <div>
                    <a class="link_without_style"  href="#"><h3 class="product_card_text product_card_text_tittle">Mesa TV, estilo moderno</h3></a>
                    <p class="product_card_text">Mueble TV, blanco</p>
                    <p class="product_card_text product_card_text_price">$4.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/silla.webp" alt="">
                <div>
                    <a class="link_without_style"  href="#"><h3 class="product_card_text product_card_text_tittle">Silla Modelo Granero</h3></a>
                    <p class="product_card_text">Silla, tinte envejecido claro/blanco</p>
                    <p class="product_card_text product_card_text_price">$3.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img "  src="images/home/productos/silla_mesa.webp" alt="">
                <div>
                    <a class="link_without_style"  href="#"><h3 class="product_card_text product_card_text_tittle">Juego Mesa con Sillas</h3></a>
                    <p class="product_card_text">Mesa con 4 sillas, blanco/blanco 110/155 cm</p>
                    <p class="product_card_text product_card_text_price">$7.000</p>
                </div>
            </div>
            <div  class="product_card_container product_card_container_height">
                <img class="product_card_img " src="images/home/productos/sillon_l.webp" alt="">
                <div>
                    <a class="link_without_style"  href="#"><h3 class="product_card_text product_card_text_tittle">Sofa tipo L</h3></a>
                    <p class="product_card_text">Sofá 3 plazas, gris claro</p>
                    <p class="product_card_text product_card_text_price">$10.000</p>
                </div>
            </div>
        </div>
        </section>
        <section class="menu_container">
            <div class="menu_option_container">
                <i class="fas fa-coffee menu_option_icon fa-2x"></i>
                <p  class="menu_option_name">Accesorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-bed menu_option_icon fa-2x"></i>
                <p class="menu_option_name" style>Dormitorios</p>
            </div>
            <div class="menu_option_container" >
                <i class="fas fa-umbrella-beach menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Exteriores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-couch menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Interiores</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-bath menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Baño</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-chair menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Living</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-desktop menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Oficina</p>
            </div>
            <div class="menu_option_container">
                <i class="fas fa-tags menu_option_icon fa-2x"></i>
                <p class="menu_option_name">Ofertas</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="subscribe_form_container">
        <form class="subscribe_form" action="">
            <label class="subscribe_form_text" for="subscribe_input">Suscribite a nuestro Newsletter</label>
            <input class="subscribe_form_input_text" id="subscribe_input" name="subscribe_input" type="text" placeholder="Ingrese su email">
            <input class="subscribe_form_text subscribe_form_submit" type="submit">
        </form>
        </div>
        <div class="links_container">
            <div class="footer_context_container">
                <a class="footer_link" href="">Quienes somos</a>
                <a class="footer_link" href="">Politicas de Devolucion</a>
                <a class="footer_link" href="">Garantias</a>
                <a class="footer_link" href="">PreguntasFrecuentes</a>
            </div>
            <div class="footer_context_container">
                <a class="footer_link"
                href=""><i class="fab fa-facebook fa-1x footer_link_icon"></i>
                <p class="footer_link_icon_and_text">Facebook</p></a>
                <a  class="footer_link" href=""><i class="fab fa-instagram fa-1x footer_link_icon_and_text"></i>
                <p class="footer_link_icon_and_text">Instagram</p></a>
                <a class="footer_link" href=""><i class="fab fa-twitter fa-1x footer_link_icon_and_text"></i>
                <p class="footer_link_icon_and_text">Twitter</p></a>
                <a class="footer_link" href=""><i class="fab fa-whatsapp fa-1x footer_link_icon_and_text"></i>
                <p class="footer_link_icon_and_text">Whatsapp</p></a>
            </div>
        </div>
    </footer>
</body>
</html>