<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Ingresá</title>
</head>
<body style="margin:0">
    <%- include('parcials/header.ejs') %> 
    <main class="lr-main-container">
        <form class="lr-form" action="/users/login" method="POST">
            <div class="lr-title">
                <h2>Iniciá sesión</h2>
            </div>
                <label class="lr-fontsize" for="email">Usuario</label><br>
                <input class="form_lr-width lr-fontsize" type="text" id="username" name="username" placeholder="Usuario"><br>
                    
                <label class="lr-fontsize" for="password">Contraseña</label><br>
                <input class="form_lr-width lr-fontsize" type="password" id="password" name="password" placeholder="Contraseña"><br>
                <a href="">¿Olvidaste tu contraseña?</a><br><br>
                    
                <button class="btn form_lr-width" type="submit">Ingresar</button><br><br>
                <input type="checkbox" name="recordarme" value="recordarme">Recordar mi usuario y contraseña.
                <p>Si todavía no tenés cuenta, ingresá <a href="/users/register">acá</a></p>
        </form>        
    </main> 
    <%- include('parcials/footer.ejs') %>
</body>
</html>