<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Ingresá</title>
    
</head>
<body style="margin:0">
    <%- include('parcials/header.ejs',{'user':user}) %> 
    <main class="lr-main-container">
        <form class="lr-form loginForm" action="/users/login" method="POST">
            <div class="lr-title">
                <h2>Iniciá sesión</h2>
            </div>
                <!-- Usuario -->
                <div class="login_user">
                <label class="lr-fontsize" for="email">Usuario</label>
                </div>
               
                <!-- div para mostrar errores en js -->
                <div class="userError"></div>
                
                <input class="form_lr-width lr-fontsize user" type="text" id="username" name="username" placeholder="Usuario">
                    
                
                <!-- Password -->
                <div class="login_user">
                <label class="lr-fontsize login_password" for="password">Contraseña</label>
                </div>
               
                <!-- div para mostrar errores en js -->
                <div class="passwordError"></div>
                
                <input class="form_lr-width lr-fontsize writePassword" type="password" id="password" name="password" placeholder="Contraseña"><br>
               
                <a href="">¿Olvidaste tu contraseña?</a><br><br>
                    

  <!-- muestra errores con express-validator --> 
  <% if (typeof errors != 'undefined') { %> 
    <% for (let i =0 ; i < errors.length;i++){ %> 
    <div class="d-flex justify-content-center"> 
    <div class=' w-70 p-1 mb-2 bg-secondary text-white text-center '>
     <%=errors[i].msg%>  </div>
     </div>
     <% } %> 
     <% } %> 


  <!-- Muestra error de que no matchee contraseña o usuario --> 
  <% if (typeof errrorMessage != 'undefined') { %> 
    <div class="d-flex justify-content-center"> 
    <div style="color: red;"><%=errrorMessage%> </div>
     </div>
     <% } %>
  <!-- / Muestra error de que no matchee contraseña o usuario --> 


                <button class="btn-login-register form_lr-width" type="submit">Ingresar</button><br><br>
                <input type="checkbox" name="recordarme" value="recordarme">Recordar mi usuario y contraseña.
                <p>Si todavía no tenés cuenta, ingresá <a href="/users/register">acá</a></p>
        </form>        
    </main> 
    <%- include('parcials/footer.ejs') %>

     <script src="../../js/login.js"></script>
</body>
</html>