<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
</head>
<body>
    <main>
        <form action="index.html" method="POST">
            <div>
                <h1>Ramé Deco</h1>
            </div>
            <div>
                <h2>Iniciá sesión</h2>
            </div>
             <div>
                <label for="username">Nombre de usuario o email</label><br>
                <input type="text" id="username" name="username" placeholder="usuario o email"><br><br>
                    
                <label for="contraseña">Contraseña</label><br>
                <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
                <a href="">¿Olvidaste tu contraseña?</a><br><br>
                    
                <button type="submit">Ingresar</button><br>
                <p>Si todavía no tenés cuenta, ingresá <a href="/register">acá</a></p>
        </form>        
    </main>   
</body>
</html>