<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
   

</head>
<body class="body-product-detail">
  <%- include('parcials/header.ejs') %> 


<main>

  <section class="titulo-product-detail">
    <h1 >Sillón Dos Cuerpos</h1>
</section>

    <div class="elContenedor">
        <div>
          <img  src="https://images.pexels.com/photos/3757055/pexels-photo-3757055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="imagen-product">
            
              <div class="texto-izq-product"> El lujo nunca había tenido una mejor cara. 
              </div>
        </div>
            
    </div>

    <div class="elContenedor">
      <div>
        <img  src="https://images.pexels.com/photos/3757055/pexels-photo-3757055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="imagen-product">
          
            <div class="texto-der-product"> Elaborado con almohadones de Efecto Memoria.
            </div>
      </div>
    </div>
          

      <div class="otroContenedor contenedor-descrip">
        <div class="contenedor-descrip-izq">
          <p class="caja">Sillón de 2 Cuerpos, elaborado con materiales de última tecnología que garantizan tu confort de forma prolongada</p>
        </div>
  
        <div class="contenedor-descrip-der">
          <p class="precio">$ 40.000</p>

          <div class="contenedor-cantidad">
		
            <input class="bajar-cantidad" type="button" value="-" id="dec" onclick="decrementI()"/>
                               
            <label class="cantidad-mostrada" id="display" >1</label>
                               
            <input class="aumentar-cantidad" type="button" value="+" id="inc" onclick="incrementI()"/>
             
            
          
          </div>
        
          <button class="boton-agregar-carrito" type="submit">Agregar al carrito</button>
          
          
        </div>
      </div>  

</main>


<%- include('parcials/footer.ejs') %>
    
</body>
</html>
