<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de Producto</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
  <header>
Aqui va el Header
  </header>


<main>

    <div class="elContenedor">
        <div>
          <img  src="http://placeimg.com/800/480/animals" alt="" class="imagen">
            
              <div class="primerTexto"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit accusantium quasi facilis iure voluptates molestias excepturi fugit optio, est et ipsam. Tempora voluptatibus culpa tempore officia quidem possimus id quam.
              </div>
        </div>
            
    </div>

    <div class="elContenedor">
      <div>
        <img  src="http://placeimg.com/800/480/animals" alt="" class="imagen">
          
            <div class="segundoTexto"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit accusantium quasi facilis iure voluptates molestias excepturi fugit optio, est et ipsam. Tempora voluptatibus culpa tempore officia quidem possimus id quam.
            </div>
      </div>
    </div>
          

      <div class="otroContenedor contenedor-descrip">
        <div class="contenedor-descrip-izq">
          <p class="caja">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti consequuntur sit mollitia libero! Reprehenderit sint iusto hic odio neque officia maxime repudiandae illo est temporibus! Nobis dolore ducimus fugiat obcaecati?</p>
        </div>
  
        <div class="contenedor-descrip-der">
          <p class="precio">Lorem ipsum dolor sit amet</p>
        
          <button class="boton-agregar-carrito" type="submit">Agregar al carrito</button>
          
          
        </div>
      </div>


</main>


  <footer>
Aqui va el footer
  </footer>
    
</body>
</html>