<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../../../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Admin de usuario</title>
  
</head>

<body class="page_background_color"> 
    
      <main>
        
  <%- include('parcials/header.ejs') %>
  <%if (obj != undefined) { %>
    <div class="container p-4">
  <form class="card card-body" method="POST" action="/users/profile/edit/<%=obj.id%>?_method=PUT"  enctype="multipart/form-data" >
    
          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input name="Nombre" type="text" class="form-control" placeholder="Entry a New Title" autofocus >
          </div>
    
          <div class="form-group">
            <label for="Apellido">Apellido</label>
            <input name="Apellido" type="text" class="form-control" placeholder="Author" autofocus >
          </div>
          
         
          
          <div class="form-group">
            <label for="Email">Email</label>
            <input name="Email" type="text" class="form-control" placeholder="Email" autofocus >
          </div>
          
    
          <div class="form-group">
            <label for="Direccion">Direccion</label>
            <input name="Direccion" type="text" class="form-control" placeholder="Direccion" autofocus >
          </div>
          <div class="form-group mt-6">

            <a  href="/users/profile/edit/<%= obj.id%>"> 
              <button class="btn btn-secondary" type="submit" value="edit">
                Editar
              </button>
            </a>
        </form>
    
      </div>
      <% } %>


    
</main>
<%- include('parcials/footer.ejs') %>

</body>