<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>¡Registrate!</title>
</head>
<body style="margin:0">
    <%- include('parcials/header.ejs') %> 
    <main class="lr-main-container">
        <div class="lr-title">
            <h2>Creá tu cuenta</h2>
        </div>
        <form class="lr-form" action="/register" method="POST">
                <div>
                <label class="lr-fontsize" for="username">Nombre</label><br>
                <input class="form_lr-width lr-fontsize" type="text" id="name" name="name" placeholder="Nombre">
                </div>

                <div>
                <label class="lr-fontsize" for="username">Apellido</label><br>
                <input class="form_lr-width lr-fontsize" type="text" id="last_name" name="last_name" placeholder="Apellido">
                </div>
    
                <div>
                <label class="lr-fontsize" for="email">E-mail</label><br>
                <input class="form_lr-width lr-fontsize" type="email" id="email" name="email" placeholder="E-mail">
                </div>

                <div>
                <label class="lr-fontsize" for="contraseña">Contraseña</label><br>
                <input class="form_lr-width lr-fontsize" type="password" id="password" name="password" placeholder="Elegí tu contraseña"><br>
                <div class="register-password-msg"><small>La contraseña debe ser de mínimo 6 dígitos</small></div>
                <input class="form_lr-width lr-fontsize" type="password" id="password_confirm" name="password_confirm" placeholder="Confirmá tu contraseña"><br>
                </div>
            
                <div class="register-newsletter-msg">
                    <input type="checkbox" name="newsletter" value="newsletter si">Quiero recibir emails de RaméDeco con ofertas y promociones exclusivas acordes a mis gustos, intereses e historial de compras.
                    </div>
                    <br>

                <div><button class="btn form_lr-width" type="submit">Registrarme</button></div>
            </form>
                <div><p>¿Ya tenés cuenta? Ingresá <a href="/login">acá</a></p></div>

                <div class="register-final-msg"><p>Podrás agregar más información personal, gustos y preferencias más tarde</p></div>
    </main>
    <%- include('parcials/footer.ejs') %>
</body>
</html>