<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>¡Registrate!</title>
</head>
<body style="margin:0">
    <header class="header_layout">
        <div class="logo_nav">
            <i class="fas fa-bars hamburger_menu"></i>
            <div class="logo_container"> 
                <a href="#"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
            </div>
            <a  href="/shoppingcart"><i class="fas fa-shopping-cart green_font"></i></a>
            <a  href="/login"><i class="fas fa-user-circle green_font"></i></a>
        </div>
                <nav>
                    <ul class="nav_list_options">
                        <li><a class="white_font" href="#">Categorias</a></li>
                        <li><a class="white_font" href="#">Novedades</a></li>
                        <li><a class="white_font" href="#">Inspiracion</a></li>
                    </ul>
                </nav>
        </header>
    <main class="lr-main-container">
        <div class="lr-title">
            <h2>Creá tu cuenta</h2>
        </div>
        <form class="lr-form" action="index.html" method="POST">
                <div>
                <label class="lr-fontsize" for="username">Nombre de usuario</label><br>
                <input class="form_lr-width lr-fontsize" type="text" id="username" name="username" placeholder="Nombre de usuario"><br><br>
                </div>
    
                <div>
                <label class="lr-fontsize" for="email">E-mail</label><br>
                <input class="form_lr-width lr-fontsize" type="email" id="email" name="email" placeholder="E-mail"><br><br>
                </div>

                <div>
                <label class="lr-fontsize" for="contraseña">Contraseña</label><br>
                <input class="form_lr-width lr-fontsize" type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"><br>
                <div class="register-password-msg"><small>La contraseña debe ser de mínimo 6 dígitos</small></div>
                <input class="form_lr-width lr-fontsize" type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"><br>
                </div><br>

                <div class="register-newsletter-msg">
                    <input type="checkbox" name="newsletter" value="newsletter si">Quiero recibir emails de RaméDeco con ofertas y promociones exclusivas acordes a mis gustos, intereses e historial de compras.
                    </div>
                    <br>

                <div><button class="btn form_lr-width" type="submit">Registrarme</button></div>
            </form>
                <div><p>¿Ya tenés cuenta? Ingresá <a href="/login">acá</a></p></div>

                <div class="register-final-msg"><p>Podrás agregar más información personal, gustos y preferencias más tarde</p></div>
    </main>
    <footer>
        <form class="flex_property_config" action="">
            <label for="subscribe_input" class="white_font" style="margin-right: 10px;">Suscribite a nuestro Newsletter</label>
            <div class="unified">
                <input class="unified_inputs" id="subscribe_input" name="subscribe_input" type="text" placeholder="Ingrese su email">
                <input class="unified_inputs greend_background white_font" type="submit">
            </div>
        </form>
        <div class="flex_property_config">
            <div class="footer_context_container">
                <a class="white_font" href="">Quienes somos</a>
                <a class="white_font" href="">Politicas de Devolucion</a>
                <a class="white_font" href="">Garantias</a>
                <a class="white_font" href="">Preguntas Frecuentes</a>
            </div>
            <div class="footer_context_container">
                <a href="">
                    <i class="fab fa-facebook white_font"></i><p class="white_font" >Facebook</p>
                </a>
                <a href="">
                    <i class="fab fa-instagram white_font"></i><p class="white_font" >Instagram</p>
                </a>
                <a href="">
                    <i class="fab fa-twitter white_font"></i><p class="white_font" >Twitter</p>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp white_font"></i><p class="white_font" >Whatsapp</p>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>