<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Registrate!</title>
</head>
<body>
    <main>
        <div>
            <h2>Creá tu cuenta</h2>
        </div>
        <form action="index.html" method="POST">
            <div>
                <label for="username">Nombre de usuario</label><br>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario"><br><br>
    
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="email" placeholder="E-mail"><br><br>
        
                <label for="contraseña">Contraseña</label><br>
                <input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"><br>
                <input type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"><br>
                
                <button type="submit">Registrarme</button><br>
                <p>¿Ya tenés cuenta? Toca <a href="/login">acá</a></p>
            </div>
        </form>
    </main>
</body>
</html>