<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
	<link rel="stylesheet" href="/css/style.css">
    
    <title>Document</title>
</head>
<body>

    <!-- navbar -->

    <header class="header_layout">
        <div style="display:flex;justify-content: space-between;">
            <i class="fas fa-bars hamburger_menu"></i>
            <div style="width: 50%;margin:5px;"> 
                <a href="#"><img class="logo" src="images/rame_deco_logo.jpeg" alt=""/></a>
            </div>
            <a class="link_without_style" href="#"><i class="fas fa-shopping-cart  header_icons"></i></a>
            <a class="link_without_style"  href="#"><i class="fas fa-user-circle  header_icons"></i></a>
        </div>
        <div class="nav_list_container">
                <nav>
                    <ul class="nav_list_options">
                        <li><a  class="link_without_style" href="#">Categorias</a></li>
                        <li><a  class="link_without_style" href="#">Novedades</a></li>
                        <li><a  class="link_without_style" href="#">Inspiracion</a></li>
                    </ul>
                </nav>
        </div>
        </header>


    <section class="container section-container">
        <div class="section-container-top">

            <img class="section-container-image" src="images/shoppingcart/lengua-de-suegra.jpg" alt="">
            
<p class="shoppincart-delete">eliminar</p>
        
        </div>
    
        <div class="section-container-bottom">

            <!--Title of product -->
            <p class="section-container-title">lengua de suegra</p>

            <!-- Description of product-->
            <p class="section-container-subtitle">Producto realizado con materiales de primera calidad, realizado con plasticos ecologicos.</p>
            
            <!-- counter of products in the shoppingcart -->
        
				<input class="quantity-decrement" type="button" value="-" id="decI" onclick="decrementI()"/>
												   
				<label class="quantity-display" id="display" >1</label>
												   
				<input class="quantity-increment" type="button" value="+" id="incI" onclick="incrementI()"/>
                
            <!-- Price of the product -->
				<span class="quantity-price">$<span>1500</span></span>    
        
        
        </div>
    </section>




    <section class="container section-container">
        <div class="section-container-top">
            <img class="section-container-image" src="images/shoppingcart/blue-chair.jpg" alt="">



        <p class="shoppincart-delete">eliminar</p>
        
        </div>
    
        <div class="section-container-bottom">

            <!--Title of product -->
            <p class="section-container-title">Silla escandinava</p>

            <!-- Description of product-->
            <p class="section-container-subtitle">Producto realizado con materiales de primera calidad con almohadones de asiento con efecto memoria.</p>
        
            <!-- counter of products in the shoppingcart -->
            <input class="quantity-decrement" type="button" value="-" id="decJ" onclick="decrementj()"/>
														   
            <label class="quantity-display" id="display-2" >1</label>
                                               
            <input class="quantity-increment" type="button" value="+" id="incJ" onclick="incrementJ()"/>
				 
            <!-- Price of the product -->
				<span class="quantity-price">$<span>10000</span></span>    
        
        
        </div>
    </section>



<!-- images of sugested products -->
<section class="Sugested-products">

    <!-- title of sugested products -->
<div class="Sugested-products-title ">Productos sugeridos </div>


    <img class="Sugested-products-image" id = "top-left-image"  src="https://cdn.pixabay.com/photo/2017/08/05/02/12/sansevieria-2582056_960_720.jpg" alt="">
    <img class="Sugested-products-image" id = "top-right-image" src="https://cdn.pixabay.com/photo/2017/08/05/02/12/sansevieria-2582056_960_720.jpg" alt="">
    <img class="Sugested-products-image" id = "bottom-left-image" src="https://cdn.pixabay.com/photo/2017/08/05/02/12/sansevieria-2582056_960_720.jpg" alt="">
    <img class="Sugested-products-image" id = "bottom-right-image" src="https://cdn.pixabay.com/photo/2017/08/05/02/12/sansevieria-2582056_960_720.jpg" alt="">

</section>





<!-- Resume of price and continue button -->
<section class="container-order-summary">	
			
    <div class="order-summary-subtotal">Subtotal:
    <span class="order-summary-price">$<span>1200</span></span></div>
    
    <div class="order-summary-shipping">Envio: 
     <span class="order-summary-price">$<span>400</span></span></div>
            
    <div class="order-summary-total">Total:
   <span class="order-summary-price">$<span id="total">11500</span></span>
            
    </div>
                
    <h4 id="button-order-summary">Continuar compra</h4>
            
    </section>
    



<!-- footer of the webpage -->
        <footer>
            <div class="subscribe_form_container">
            <form class="subscribe_form" action="#">
                <label class="subscribe_form_text" for="subscribe_input">Suscribite a nuestro Newsletter</label>
                <input class="subscribe_form_input_text" id="subscribe_input" name="subscribe_input" type="text" placeholder="Ingrese su email">
                <input class="subscribe_form_text subscribe_form_submit" type="submit">
            </form>
            </div>
            <div class="links_container">
                <div class="footer_context_container">
                    <a class="footer_link" href="">Quienes somos</a>
                    <a class="footer_link" href="">Politicas de Devolucion</a>
                    <a class="footer_link" href="">Garantias</a>
                    <a class="footer_link" href="">PreguntasFrecuentes</a>
                </div>
                <div class="footer_context_container">
                    <a class="footer_link"
                    href=""><i class="fab fa-facebook fa-1x footer_link_icon"></i>
                    <p class="footer_link_icon_and_text">Facebook</p></a>
                    <a  class="footer_link" href=""><i class="fab fa-instagram fa-1x footer_link_icon_and_text"></i>
                    <p class="footer_link_icon_and_text">
                        Instagram</p></a>
                    <a class="footer_link" href=""><i class="fab fa-twitter fa-1x footer_link_icon_and_text"></i>
                    <p class="footer_link_icon_and_text">Twitter</p></a>
                    <a class="footer_link" href=""><i class="fab fa-whatsapp fa-1x footer_link_icon_and_text"></i>
                    <p class="footer_link_icon_and_text">Whatsapp</p></a>
                </div>
            </div>
        </footer>



        
<script> 

    var i = 1;
    var j = 1;
    var k = 11500;

    
    function incrementI() {
    if (i < 10) {
     i++;
     k+=1500;
    }
     document.getElementById("display").innerHTML = i;
     document.getElementById("total").innerHTML = k;
    }

     function decrementI() {
    if (i > 1) {
    k-=1500;
    --i;
    } 
    document.getElementById("display").innerHTML = i;
    document.getElementById("total").innerHTML = k;

    }

    function incrementJ() {
    if (j < 10) {
     j++;
     k+=10000;

    }
     document.getElementById("display-2").innerHTML = j;
     document.getElementById("total").innerHTML = k;

     }

     function decrementj() {
    if (j > 1) {
        k-=10000;
        --j;
    } 
    document.getElementById("display-2").innerHTML = j;
    document.getElementById("total").innerHTML = k;

    }


    </script>
</body>
</html>